.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.ftco-nav ul li>a {
    color: #000;
}

.ftco-nav .top-menu .language-bar li a {
    color: #8b8b8b;
}

.top-arrow-line.top-arrow-line-black::before,
.top-arrow-line.top-arrow-line-black::after {
    content: "";
    background-color: #000;
}

.min-full-height {
    min-height: 100%;
}

.section2-pages {
    padding-top: 100px;
}

.section2-flex-between-pages {
    min-height: 60vh;
    justify-content: flex-end;
}

.bg-gray {
    background-color: #d3d9d9;
}

.space-vh {
    height: 50vh;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d3d9d9;
    padding-bottom: 13px;
}

.header-box .number {
    font-size: 24px;
    margin-bottom: 0;
}

.desc-box h4 {
    font-size: 34px;
}

.desc-box .desc {
    line-height: 1.56;
}

.my-space .boxes {
    background-color: rgb(255 255 255 / 20%);
    flex-direction: column;
    padding: 3% 6% 8% 6%;
    display: flex;
    width: 100%;
}

.line-before {
    border-left: 5px solid #182B39;
    padding-left: 5px;
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 20px;
}

.max-width-header {
    max-width: 80%;
}

.full-height {
    height: 100%;
}

.header-underline {
    font-size: 24px;
    position: relative;
}

.header-underline::after {
    content: '';
    width: 165px;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 30px;
}

.header-underline-grey {
    font-size: 24px;
    color: rgba(33, 37, 41, 0.5);
}

.max-width-box {
    max-width: 50%;
    align-self: flex-end;
}

.link {
    color: #000;
    text-decoration: underline;
}

.header-3 {
    font-size: 34px;
}

.check {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.check-list {
    border-top: 1px solid rgba(112, 112, 112, 0.25);
    display: flex;
    align-items: center;
}

.check-list:last-child {
    border-bottom: 1px solid rgba(112, 112, 112, 0.25);
}

.check-list p {
    font-size: 16px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

.list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.second-list {
    align-items: flex-start;
    justify-content: flex-start;
}

.list-box {
    border-bottom: 1px solid rgba(112, 112, 112, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border-top {
    border-top: 1px solid rgba(112, 112, 112, 0.25);
}

.second-list-box {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.list-box.second-list-box p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.list-box p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.list-box p a {
    display: block;
    color: #000;
    font-size: 20px;
    margin-top: 15px;
    text-decoration: underline;
}

.box {
    background-color: rgb(200, 207, 207, 0.3);
    padding: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.box p {
    margin-bottom: 0;
}

.space-bottom {
    padding-bottom: 90px;
}

.bg-img {
    background-image: url(../images/pv-map.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.sectionthree-flex-between.box-height {
    justify-content: flex-end;
    height: 70vh;
}

.perfect-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.negative-margin-y {
    margin: 0 -3rem;
}

.line-before-big {
    font-size: 46px;
    padding: 3rem;
    line-height: 52px;
    background-color: rgb(200, 207, 207, 0.3);
}