

/* font Face 100-Light, 200-Regular, 300-Medium */
 /* 100 - Light */
@font-face{
  font-family: "Matter";
  src:url("../fonts/matter/Matter-Light.eot");
  src:url("../fonts/matter/Matter-Light.eot?#iefix") format('embedded-opentype'),
      url("../fonts/matter/Matter-Light.woff2") format('woff2'),
      url("../fonts/matter/Matter-Light.woff") format('woff'),
      url("../fonts/matter/Matter-Light.ttf") format('truetype'), /* Safari, Android, iOS */
      url("../fonts/matter/Matter-Light.svg#Matter") format('svg');  /* Legacy iOS */
  font-weight:100;
  font-style:normal;
}


/* 200 - Regular */
@font-face{
 font-family: "Matter";
 src:url("../fonts/matter/Matter-Regular.eot");
 src:url("../fonts/matter/Matter-Regular.eot?#iefix") format('embedded-opentype'),
     url("../fonts/matter/Matter-Regular.woff2") format('woff2'),
     url("../fonts/matter/Matter-Regular.woff") format('woff'),
     url("../fonts/matter/Matter-Regular.ttf") format('truetype'), /* Safari, Android, iOS */
     url("../fonts/matter/Matter-Regular.svg#Matter") format('svg');  /* Legacy iOS */
 font-weight:200;
 font-style:normal;
}

/* 300 - Medium */
@font-face{
 font-family: "Matter";
 src:url("../fonts/matter/Matter-Medium.eot");
 src:url("../fonts/matter/Matter-Medium.eot?#iefix") format('embedded-opentype'),
     url("../fonts/matter/Matter-Medium.woff2") format('woff2'),
     url("../fonts/matter/Matter-Medium.woff") format('woff'),
     url("../fonts/matter/Matter-Medium.ttf") format('truetype'), /* Safari, Android, iOS */
     url("../fonts/matter/Matter-Medium.svg#Matter") format('svg');  /* Legacy iOS */
 font-weight:300;
 font-style:normal;
}


:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #eaeaea;
  --clay: #d3d9d9;
  --cascade: #95a5a5;
  --blue: #182b39;
}

body {
  font-family: "Matter", sans-serif;
  background-color: var(--gray);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.6;
  overflow-x: hidden;
}

p {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: 200;
}

.my-full-page .col-lg-6 {
  padding: 0;
}
.my-full-page .row {
  margin: 0;
}
.canvasing {
    position:fixed;
    height:100%;
    z-index: 9999;
    width:100%;
}
/*
.canvasing::before {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 50vh;
    background-color: #95A5A5;
    display: block;
    content: '';
}

 */

 .slider-text-inner p{
   margin-top:40px;
 }


.nav-link:after {
  display:block;
  content: '';
  border-bottom: solid 2px #95A5A5;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.nav-link:hover:after { transform: scaleX(1); }


/* .nav-link:hover{
  color: #95A5A5 !important;
  transition:0.3s all ease-in-out;
  text-decoration:underline;
} */

/* VIDEO NEW LIMUN*/
header.video-on {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header.video-on video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header.video-on .position-video-header {
  position: relative;
  z-index: 2;
}

header.video-on .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header.video-on {
    background: url('../images/hero_1.jpg') no-repeat center center scroll;
  }
  header.video-on video {
    display: none;
  }
}
/* Video New End  */



#canvasing-left {
  /* these are the 2 half blocks which cover the content once the animation is triggered */
  height: 100vh;
  top:0;
  width: 50%;
  position: fixed;
  left: 0;
  z-index: 99999;
  background-color: #182B39;
  content: '';

    transition: 1s all ease-out;
}

#canvasing-right{
  /* these are the 2 half blocks which cover the content once the animation is triggered */
  height: 100vh;
  top:0;
  width: 50%;
  position: fixed;
  left: 50%;
  z-index: 99999;
  background-color: #182B39;
  content: '';

    transition: 1s all ease-out;
}


/* .canvasing::before {
    left: 0;
    transform: translateX(-100%);
    transition: 0.8s all ease-out;
}
.canvasing::after {
  right: 0;
  transform: translateX(-100%);
  transition: 0.8s all ease-out;
} */
.canvasing.page-is-changing::after, body.page-is-changing::before {
  transform: translateX(0);
}
#wrapper {
  width:100%;
  height:100%;
}

#wrapper-inner {
  width:100%;
  height:100%;
}

#scroll-down {
  display: block;
  position: absolute;
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
  z-index: 999999999999;
  left: 50%;
  right: 50%;
}
.arrow-down {
  z-index: 999999999999;
    display: block;
    margin: 0 auto;
    width: 10px;
    top:0;

    animation-direction: reverse;
    height: 100%
}
.arrow-down:after {
  z-index: 999999999999;
  content: '';
  display: block;
  margin-left: -7px;
  padding: 0;
  margin-top: -2px;
  top: -5px;
  width: 15px;
  height: 15px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}





#scroll-down::before {
z-index: 999999999999;
    animation: elasticus 1s ease-in-out;
    animation-fill-mode:forwards;
    animation-direction: reverse;
    animation-iteration-count: 1;
    /* IE 10+, Fx 29+ */

    position: absolute;
    left: 50%;
    margin-top:-2px;
    width: 2px;
    height: 98vh;
    background: #fff;
    content: ' ';
}

@keyframes progressBar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes grow
{
from {
    height: 0px;
    bottom:0;
}
to{
    height: 98vh;
}
}

@keyframes elasticus {
  0% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
  }
  50% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
  }
  50.1% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
  }
  100% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
  }
}







#myProgress {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 9999;
}

#myBar {
  width: 2px;
  height: 1%;
  background-color: #fff;
  position:fixed;
  left:50%;
  bottom:-15px;
}




.btn-white-more {
  background-color: #ffffff;
  padding: 20px 50px;
  color: #000;
  border-radius: 60px;
  font-size: 20px;
}

.btn{
   transition: all 0.3s;
   display: inline-block;
   position: relative;
   min-width: 200px;
}

.btn:after {
  content: '→';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.3s;
  color:#fff;
}

.btn:hover{
  padding-left:40px;
  padding-right:60px;
  background-color: #182B39;
  transition: all 0.3s;
  color:#fff;
}

.btn:hover:after {
  opacity: 1;
  right: 30px;
}


.the-container {
  padding: 0;
  width: 100%;
}

.my-space {
  display: flex;
}

.my-space-even {
  padding: 0 5%;
}

.my-hero-videos video{
background-color: #000;
height:100%;
width: 100%;
}


@media screen and (min-width:990px) {
  .center-me-top-white,
  .center-me-top-black {
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    right: 50%;
    background-color: #fff;
    z-index: 999;
  }

  .center-me-top-white-start {
    top: 8px;
  }

  .center-me-top-black {
    background-color: #000;
  }

  .top-arrow-line {
    position: relative;
  }
  .top-arrow-line::before,
  .top-arrow-line::after {
    content: "";
    position: absolute;
    top: 10px;
    height: 2px;
    width: 15px;
    background-color: #fff;
    transform: rotate(45deg);
    z-index: 999;
    left: 50%;
    margin-left: -2px;
  }

  .top-arrow-line::after {
    transform: rotate(-45deg);
    margin-left: -11px;
  }
}

#myBar::before,
#myBar::after {
  content: "";
  position: absolute;
  top: 10px;
  height: 3px;
  width: 20px;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: 999;
  left: 50%;
  margin-left: -2px;
}

#myBar::after {
  transform: rotate(-45deg);
  margin-left: -16px;
}




/*Base and fixed size for all small devices */

h1 {
  font-size: 54px;
  line-height: 1;
  letter-spacing: -1px;
}


/* Fluid size for all screens, larger than 1440px */

@media (min-width: 1440px) {
  h1 {
    font-size: calc(1em + 3.2vw);
  }
}


/* Fluid size for all screens, up to 768px */

@media (max-width: 768px) {
  h1 {
    font-size: 46px;
  }
}


/*Base and fixed size for all small devices */

h2 {
  font-size: 46px;
  line-height: 1.1;
  letter-spacing: -1px;
}


/* Fluid size for all screens, larger than 1440px */

@media (min-width: 1440px) {
  h2 {
    font-size: calc(1em + 2.2vw);
  }
}


/* Fluid size for all screens, up to 768px */

@media (max-width: 768px) {
  h2 {
    font-size: 34px;
  }
}


/*Base and fixed size for all small devices */

h3 {
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: -1px;
}


/* Fluid size for all screens, larger than 1440px */

@media (min-width: 1440px) {
  h3 {
    font-size: calc(1em + 1.2vw);
  }
}


/* Fluid size for all screens, up to 768px */

@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
}


/*Base and fixed size for all small devices */

h4 {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0;
}


/* Fluid size for all screens, larger than 1440px */

@media (min-width: 1440px) {
  h4 {
    font-size: calc(1em + 0.2vw);
  }
}


/* Fluid size for all screens, up to 768px */

@media (max-width: 768px) {
  h4 {
    font-size: 18px;
  }
}

@media screen and (min-width:769px) and (max-width:1440px) {
  h1 {
    font-size: calc(1em + 2.5vw);
  }
  h2 {
    font-size: calc(1em + 1.5vw);
  }
  h3 {
    font-size: calc(1em + 0.5vw);
  }
  h4 {
    font-size: calc(1em + 0.2vw);
  }
}


/*  Navigation Top */

.progress_bar-count {
  position: relative;
  bottom: 90px;
  color: #fff;
}

.progress_bar_container {
  padding: 0 5%;
  height: 4px;
  width: 100%;
  position: relative;
  top: 0em;
  z-index: 999;
  bottom: 50px;
}

.progress_bar {
  background: #95a5a5;
  height: 6px;
  width: 0;
  position: relative;
  z-index: 9999;
  bottom: 50px;
}

/*slider start*/
.yutso-item  {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height:100vh;
}
.carouselPurevirtual-slide .carousel-caption {
  left:0;
  top:0;
}
.slider-text {

  display: table;
  opacity: 1;
  min-height: 90vh;
  z-index: 9;
  text-align:left;
}

.slider-text>.slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  min-height: 90vh;

}

.slider-text>.slider-text-inner h1,
.slider-text>.slider-text-inner h2 {
  margin: 0;
  padding: 0;
  color: white;
}

.slider-text>.slider-text-inner h1 {
  margin-bottom: 20px;
  font-weight: 700;
}


.slider-text>.slider-text-inner h2 {
  line-height: 1.5;
  margin-bottom: 30px;
}

.slider-text>.slider-text-inner .heading-section {}

.slider-text>.slider-text-inner .btn {
  padding: 25px 40px !important;
  background: #fff !important;
  color: #000;
  border: none !important;
  margin-top: 30px;
}

.slider-text>.slider-text-inner .btn:hover {
  background: #182B39 !important;
  color: #fff;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

.flexslider {
  margin: 0 0 35px 0;
  padding: 0;
  position: relative;
}

.flexslider .slides>li {
  display: none;
  -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
  width: 800px;
  display: block;
}

#ftco-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 75px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 992px) {
  /* #ftco-offcanvas {
    display: block;
  } */
}

.offcanvas #ftco-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

#ftco-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}

#ftco-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}

#ftco-offcanvas ul {
  padding: 0;
  margin: 0;
}

#ftco-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#ftco-offcanvas ul li>ul {
  padding-left: 20px;
  display: none;
}

#ftco-offcanvas ul li.offcanvas-has-dropdown>a {
  display: block;
  position: relative;
}

#ftco-offcanvas ul li.offcanvas-has-dropdown>a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#ftco-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.ftco-nav {
  position: absolute;
  z-index: 88;
  width: 100%;
}

.ftco-nav .top-menu {
 padding: 10px 0;
}
.ftco-nav .top-menu .padding-navi {
  padding:0 1%;
}
.ftco-nav .top-menu .navbar-light .navbar-toggler {
  outline: none;
  border:none !important;
}
.ftco-nav .top-menu .language-bar li span.language-img {
  display:block;
  line-height: 18px;
  padding-right: .5rem;
}
.ftco-nav .top-menu .language-bar li span.line {
   display:block;
  line-height: 21px;
}

.ftco-nav .top-menu .language-bar li.active a {
  color:#fff;

}
.ftco-nav .top-menu .language-bar li a{
  font-size: 14px;
  color:rgb(255 255 255 / 48%);
  padding-right: 5px;
  padding-left: 5px;
}
.ftco-nav .top-menu .navbar-light .navbar-toggler-icon {
    background-color: #fff;
    border-radius: 30px;
    background-size: 20px;
    width:50px;
    height:50px;
}


.ftco-nav #ftco-logo {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 40px;
  font-weight: 700;
  font-family: "Matter", sans-serif;
}

.ftco-nav #ftco-logo a {
  color: #fff;
}

.ftco-nav #ftco-logo a span {
  color: #000;
}

.ftco-nav a {

  color: #fff;
}

@media screen and (max-width: 992px) {
  .ftco-nav .top-menu .navbar-collapse{
    background-color: rgb(0 0 0 / 81%);
    padding: 20px;
  }
  .ftco-nav ul.language-bar {
        display: flex;
    flex-direction: row;
  }
  .ftco-nav ul.menus li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .ftco-nav .top-menu .language-bar li span.line {

    padding-right: 5px;
  }
  .ftco-nav .top-menu .navbar-collapse li a{
    padding-left:0;
  }
  .ftco-nav .top-menu .navbar-expand-lg .navbar-nav.menus .nav-link {
    padding-left: 0;
  }

  .ftco-nav .menu-1 {
    display: none;
  }
}

.ftco-nav ul {
  padding: 0;
  margin: 5px 0 0 0;
}

.ftco-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}

.ftco-nav ul li>a {
  font-size: 18px;
  letter-spacing: 0;
  /*padding: 30px 15px;*/
  padding: 0px 15px;
  color: rgba(255, 255, 255);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.ftco-nav .navbar-expand-lg .navbar-nav.menus .nav-link {
    padding-left: 1.6rem;
}

.ftco-nav ul li>a:hover,
.ftco-nav ul li>a:focus,
.ftco-nav ul li>a:active {
  color: white;
}

.ftco-nav ul li.has-dropdown {
  position: relative;
}

.ftco-nav ul li.has-dropdown .dropdown {
  width: 140px;
  -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.ftco-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

.ftco-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}

.ftco-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}

.ftco-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  line-height: 1.2;
  text-transform: none;
  font-size: 16px;
  letter-spacing: 0;
  color: #000;
}

.ftco-nav ul li.has-dropdown .dropdown li a:hover {
  color: #2f89fc;
}

.ftco-nav ul li.has-dropdown:hover a,
.ftco-nav ul li.has-dropdown:focus a {
  color: #fff;
}

.ftco-nav ul li.btn-cta a {
  padding: 30px 0px !important;
  color: #fff;
}

.ftco-nav ul li.btn-cta a span {
  background: #2f89fc;
  padding: 10px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
}

.ftco-nav ul li.btn-cta a:hover span {
  -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}

.ftco-nav ul li.active>a {
  color: #2f89fc;
  position: relative;
}


/*  Navigation Top End */


/*  Navigation Baner with Video */

#ftco-hero .btn.btn-primary {}

#ftco-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}

#ftco-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}

#ftco-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  position: relative;
}

#ftco-hero .flexslider .slides li:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#ftco-hero .flexslider .flex-control-nav {
  bottom: 40px;
  z-index: 1000;
}

#ftco-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

#ftco-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}

#ftco-hero .flexslider .flex-direction-nav {
  display: none;
}

#ftco-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  min-height: 700px;
  z-index: 9;
}

#ftco-hero .flexslider .slider-text>.slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  min-height: 700px;
}

#ftco-hero .flexslider .slider-text>.slider-text-inner h1,
#ftco-hero .flexslider .slider-text>.slider-text-inner h2 {
  margin: 0;
  padding: 0;
  color: white;
}

#ftco-hero .flexslider .slider-text>.slider-text-inner h1 {
  margin-bottom: 20px;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  #ftco-hero .flexslider .slider-text>.slider-text-inner h1 {}
}

#ftco-hero .flexslider .slider-text>.slider-text-inner h2 {
  line-height: 1.5;
  margin-bottom: 30px;
}

#ftco-hero .flexslider .slider-text>.slider-text-inner .heading-section {}

#ftco-hero .flexslider .slider-text>.slider-text-inner .btn {
  background: #fff !important;
  color: #000;
  border: none !important;
  margin-top: 30px;
}

#ftco-hero .flexslider .slider-text>.slider-text-inner .btn:hover {
  background: #182B39 !important;
  color: #fff;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

#ftco-hero .flexslider .slider-text>.slider-text-inner .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}

#ftco-hero .flexslider .slider-text>.slider-text-inner .form-inline .form-group .form-control {
  width: 100%;
  background: #fff;
  border: none;
}

#ftco-hero .flexslider .slider-text>.slider-text-inner .ftco-lead {
  color: #fff;
}

#ftco-hero .flexslider .slider-text>.slider-text-inner .ftco-lead .icon-heart {
  color: #d9534f;
}

.ftco-bg-section {
  background: rgba(0, 0, 0, 0.05);
}


/*  Navigation Baner with Video */


/* My Sections  */

.line-before {
  border-left: 5px solid #182B39;
  padding-left: 5px;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 40px;
}

.line-before-footer {
  border-left: 5px solid #182B39;
  padding-left: 5px;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
}


.section2 {
  position: relative;
}

.section2 .p-bottom {
  max-width: 50%;
}

.section2-flex-between {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 5% 0px;
  justify-content: space-between;
}

.sectionthree-flex-between {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  justify-content: space-between;
  height: 100%;
}
.sections-flex-between {
    display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: space-between;
  height: 100%;
}

.sectionthree {
  height: 100%;
  background-color: #C8CFCF;
  position: relative;
}

.section-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.section-three-bottom {}

.div-section3 {
  background-color: rgb(255 255 255 / 20%);
  margin: 0;
  padding: 5% 10%;
}

.headling-three {
  padding-left: 5%;
  padding-bottom: 5%;
}

h5.ftco-counter {
  font-size: calc(2.9em + 3.2vw);
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: -2.7px;
  border-bottom: solid 1px #000000;
  padding-bottom: 25px;
  font-family: "Matter", sans-serif;
  margin-top: 84px;
}

.ftco-counters .ftco-counter-label {
  font-family: "Matter";
  font-weight: 300;

}
/*  end Ftc counters*/


/* Flickty Slider text */
.product-carousel .carousel-cell {
    width: 50%;
    margin-right: 20px;
    border-radius: 5px;
    counter-increment: gallery-cell;
    background-color: rgb(204 210 210 / 47%);
    padding: 5%;
}
.product-carousel .carousel-cell hr {
  margin-bottom: 2rem;
}
.product-carousel .carousel-cell h3 {
  font-family: "Matter", sans-serif;
  font-weight: 300;
}

.product-carousel .carousel-cell .numbering-cart {
font-size: calc(0.6em + 3.2vw);
 padding-bottom: 25px;
 display:block;
font-family: "Matter", sans-serif;
font-weight: 100;

}
.flickity-page-dots {
  text-align: right;
}
/* Flickty Slider text end */

.sectionfour {
  position: relative;
}

.sectionfour-heading {
  padding-top: 5%;
  padding-bottom: 220px;
}

.section5 {
  min-width: 400px;
  background-color: #000000;
  color: #ffffff;
  position: relative;
}

.section5-line {
  border-left: 5px solid #ffffff;
  padding-left: 5px;
  margin-bottom:5%;
}


.default-section-container {
  padding-left: 5%;
  padding-right: 5%;
}

.section6 {
  min-height: 700px;
  background-color: #EAEAEA;
  color: #000000;
  position: relative;
}

.text-bottom {
  max-width: 50%;
  margin-top: 50%;
}

.section6-links {
  margin-top: 42%;
}

.section6-list {
  list-style: none;
  padding-left:0 ;
}

.section6-list li {
  border-top: 1px solid lightgray;
}

.section6-list li a {
  color: #000000;
  padding: 30px 0;
  font-size:20px;
  width: 100%;
}



.section6-list li a{
   transition: all 0.3s;
   display: inline-block;
   position: relative;
}

.section6-list li a:after {
  content: '→';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.3s;
  color:#95A5A5;
}

.section6-list li a:hover{
  transition: all 0.3s;
  color:#95A5A5;
  text-decoration: none;
}

.section6-list li a:hover:after {
  opacity: 1;
  right: 30px;
}





.section6-list .last-link {
  border-bottom: 1px solid lightgray;
}

.sup-number {
  color: #C8CFCF;
  padding-right: 10px;
}

.link-arrow {
  float: right;
}

.section7 {
  background-color: #C8CFCF;
  color: #000000;
}

.section7-text {
  margin-top: 40%;
}

.section7-heading {
  padding-bottom: 25px;
}

.section8 {
  position: relative;
  background-color: #EAEAEA;
  color: #000000;
}

.social-media {
  list-style: none;
  padding-left: 0px;
  font-weight: 200;
}

.social-media li a {
  color: #000000;
}

.li-bold {
  font-weight: 400;
}

.section8-footer {
  margin-top: 65%;
}

.footer8-right {
  margin-top: 77%;
}

.footer-right {
  float: right;
}

.footer-padding-contact {
  margin-top: 10%;
}

 .diagram-padding {
  padding: 10% 10%;
 }

@media screen and (min-width: 1200px) {
  .diagram-padding {
    padding: 30% 10%;
  }
}
@media screen and (max-width: 990px) {
  .section2-flex-between{
    min-height: auto;
    padding-top:10%;
    padding-bottom:10%;
  }
  .section2-heading{
    padding-bottom:10%;
  }
  .section2 .p-bottom{
    max-width: 100%;
  }
  .sectionfour-heading{
    padding-top:10%;
  }
  .sectionfour-heading{
    padding-bottom:30%;
  }
  .text-bottom{
    max-width: 100%;
    margin-top:10%;
  }
  .section3-heading{
    padding-bottom:30%;
  }
  .section7-text{
    margin-top: 30%;
margin-bottom: 30%;
  }
  .section-heading{
    padding-bottom:10%;
  }
  .flickity-enabled.is-draggable{
    margin-bottom:10%;
  }
  .footer-padding-contact{
    margin-top:0;
  }
  .line-before-footer{
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .footer-right{
    float:left;
    font-size:14px;
  }
  .sectionthree-flex-between{
    padding-top:10%;
  }
  .section2-right{padding-top:20%;}
  .hr-lost{display: none;}
  .sections-flex-between{
    padding-top:10%;
    padding-bottom:10%;
  }
}

.social-media li a:hover{
  color: #95A5A5 !important;
  transition: 0.3s all ease-in-out;
}

.copy-bot{
  margin-bottom:1rem;
}

.copy-bot a{
  color:#000;
}

.copy-bot a:hover{
  color: #95A5A5 !important;
  transition: 0.3s all ease-in-out;
}
